.vscode
a.out
a.out.dSYM/
database3.txt
database4.txt
database5.txt
database6.txt
databasefinal.txt
databasemake.txt
databasevalgrind.txt
maptest.cpp
.clang-format
.clang-tidy
hw2_tests.tar.gz
hw2_tests/